<h2 class="text-center my-4 text-primary">Lista Eventos</h2>
<div class="mb-5">
  <button class="btn btn-primary me-3" (click)="getEventosAll()">TODOS</button>
  <button class="btn btn-primary me-3" (click)="getEventosLog()">LOGS</button>
  <button class="btn btn-warning me-3" (click)="getEventosWarn()">WARNINGS</button>
  <button class="btn btn-danger" (click)="getEventosError()">ERRORS</button>
</div>
@if (eventos.length != 0) {
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead class="table-light">
        <tr>
          <th>Empleado</th>
          <th>Categoría</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Fecha Creacion</th>
        </tr>
      </thead>
      <tbody class="table-light">
        @for (evento of eventos; track evento.id) {
        <tr>
          <td>{{ evento.empleadoNombre }}</td>
          <td>
            @if (evento.categoria === 'log') {
              <span class="badge text-bg-primary">Log</span>
            }
            @if (evento.categoria === 'warn') {
              <span class="badge text-bg-warning">Warn</span>
            }
            @if (evento.categoria === 'error') {
              <span class="badge text-bg-danger">Error</span>
            }
          </td>
          <td class="bg-light">{{ evento.nombre }}</td>
          <td>{{ evento.descripcion }}</td>
          <td>{{ evento.fecha }}</td>
          <td>{{ evento.creacion }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <div class="alert text-center text-bg-warning">No hay eventos</div>
}