<form [formGroup]="form" (submit)="submit()" class="container mt-5 p-4 bg-white shadow rounded">
  <h2 class="mb-4 text-center text-primary">Registro de Eventos - {{ nombre }}</h2>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <label for="empleado" class="form-label fw-bold">Empleado:</label>
      <select id="empleado" name="empleado" formControlName="empleado" (change)="cambiarNombre()" class="form-select">
        <option value="">Seleccione un empleado</option>
        @for (empleado of empleados; track empleado.id) {
          <option value="{{empleado.nombre}}">{{empleado.nombre}}</option>
        }
      </select>
    </div>
  </div>

  <div class="card p-4 mt-4 border-0 shadow-sm">
    <h5 class="card-title text-center text-secondary">Datos del Evento</h5>

    <div class="mb-3">
      <label class="form-label fw-bold">Categoría:</label>
      <div class="d-flex justify-content-center gap-3">
        <div class="form-check">
          <input type="radio" id="log" value="log" name="categoria" class="form-check-input" formControlName="categoria">
          <label for="log" class="form-check-label"> Log </label>
        </div>
        <div class="form-check">
          <input type="radio" id="warn" value="warn" name="categoria" class="form-check-input" formControlName="categoria">
          <label for="warn" class="form-check-label"> Warn </label>
        </div>
        <div class="form-check">
          <input type="radio" id="error" value="error" name="categoria" class="form-check-input" formControlName="categoria">
          <label for="error" class="form-check-label"> Error </label>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="titulo" class="form-label fw-bold">Título:</label>
      <input type="text" id="titulo" class="form-control" placeholder="Ingrese el título" formControlName="nombre">
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label fw-bold">Descripción:</label>
      <textarea id="descripcion" class="form-control" rows="3" placeholder="Detalles del evento" formControlName="descripcion"></textarea>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label fw-bold">Fecha:</label>
      <input type="date" id="fecha" class="form-control" formControlName="fecha">
    </div>
  </div>

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-primary px-4 py-2 fw-bold shadow-sm">Registrar Evento</button>
  </div>
</form>
